{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</style>
</head>
<body>

<h2>Candidate Login</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">

  <form class="modal-content animate" action="/action_page.php">
      {%csrf_token%}
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <label for="uname"><b>User Name :</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="fname" required>

       <label for="psw"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="lname" required>

      <label for="psw"><b>Email-Id</b></label>
      <input type="text" placeholder="Enter Password" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" id="txtPassword" placeholder="Enter Password" name="firstpassword"  required>

      <label for="psw"><b>Confirm Password</b></label>
      <input type="password" id="txtConfirmPassword" placeholder="Re-Enter Email-Id" name="secondpassword"  required>

       <input type="button" id="btnSubmit" value="Submit" />
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
     <script type="text/javascript">
      $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#txtPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            if (password != confirmPassword) {
                $(':input[type="submit"]').prop('disabled', false);
                #alert("Passwords do not match.");
                return false;
            }
            return true;
        });
      });
    </script>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
